@charset 'UTF-8';
@use "../../inc" as *;
/*
footer
*/

.p-footer {
  &__powered {
    color: $colorWhite;
    font-family: $font-set-en;
    font-size: 0.75rem;
    margin-top: 5px;
    @include mq(md) {
      margin-top: 10px;
      font-size: 0.875rem;
    }
  }

  small {
    color: $colorWhite;
    font-family: $font-set-en;
    font-size: 0.75rem;
    margin-top: 10px;
    display: inline-block;
    @include mq(md) {
      font-size: 0.875rem;
      margin-top: 5px;
    }
  }

  &__wrap {
    @include mq(lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__left {
    margin-top: 1rem;

    @include mq(lg) {
      margin-top: 0;

      width: 64%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem 2rem;
    }

    .p-footer__menu {
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        @include mq(lg) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  &__right {
    @include mq(lg) {
      width: 24%;
    }
  }

  &__menuTitle {
    border-bottom: 1px solid #707070;
    padding: 1rem 0;
    font-weight: 700;
    position: relative;
    font-size: 1rem;

    @include mq(lg) {
      border: none;
      padding: 0;
      margin-bottom: 0.5rem;
      font-size: 1.125rem;
    }

    a {
      color: $colorWhite;
      text-decoration: none;
    }

    &.-arrow {
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        border-top: 1px solid $colorWhite;
        border-right: 1px solid $colorWhite;
        transform: rotate(135deg);
        width: 8px;
        height: 8px;
        transition: transform 0.3s ease-in-out;
        @include mq(lg) {
          display: none;
        }
      }

      &.is-active {
        &::before {
          transform: rotate(-45deg);
        }
      }

      & + dd {
        display: none;
        @include mq(lg) {
          display: block;
        }
      }
    }
  }

  &__menuContent {
    margin: 8px 0 1.5rem;
    @include mq(lg) {
      margin-bottom: 0;
    }
    ul {
      li {
        a {
          color: $colorWhite;
          text-decoration: none;
          @include mq(lg) {
            font-size: 0.85rem;
          }
        }
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }

  &__info {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;

    @include mq(lg) {
      margin-top: 2rem;
    }

    .twitter {
      margin-left: 5rem;

      display: inline-block;
      @include mq(lg) {
        margin-left: 1rem;
        margin-bottom: 2rem;
      }
      a {
        display: block;
        position: relative;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &::before {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          border: 1px solid $colorWhite;
        }

        &::after {
          width: 1rem;
          height: 1rem;
          background: url(../../assets/images/common/twitter-icon-wh.svg) no-repeat;
        }
      }
    }
    ul {
      li {
        a {
          font-size: 0.75rem;
          color: $colorWhite;
          text-decoration: none;
        }
      }

      li:not(:first-child) {
        margin-top: 3px;
      }
    }

    &.-pc {
      display: none;
      @include mq(lg) {
        display: block;
      }
    }

    &.-sp {
      @include mq(lg) {
        display: none;
      }
    }
  }
}
