@charset 'UTF-8';
@use "../../inc" as *;
/*
  Hero
*/
.p-hero {
  position: relative;
  height: 200px;
  overflow: hidden;
  background-color: $colorMain;
  text-align: center;

  @include mq(md) {
    height: 400px;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 1.75rem;
    font-weight: bold;
    color: #fff;

    @include mq(md) {
      font-size: 2.5rem;
    }
  }

  &__eyecatch {
    position: relative;
    width: 100%;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(38, 50, 56, 0.95);
      mix-blend-mode: multiply;
    }

    img {
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 200px;
      max-width: none;

      @include mq(md) {
        min-height: 400px;
      }
    }
  }

  &.-home {
    height: 100vw;

    @include mq(md) {
      height: 400px;
    }

    .p-hero__eyecatch {
      img {
        min-height: 100vw;

        @include mq(md) {
          min-height: 400px;
        }
      }
    }

    .p-hero__title {
      font-size: 2rem;
    }
  }
}
