@charset 'UTF-8';
@use "../../inc" as *;
/*
  Project
*/
.p-project {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);

  &__title {
    font-weight: bold;
  }

  &__text {
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }

  &[href]:hover {
    background-color: #f0f0f0;
  }
}

@include mq(md) {
  .p-project {
    &__title {
      font-size: 1.25rem;
    }

    &__text {
      font-size: 0.875rem;
    }
  }
}
