@charset 'UTF-8';
@use "../../inc" as *;
/*
  Search
*/

.searchform {
  position: relative;
}

.searchfield {
  font-size: 0.875rem;
  width: 100%;
  height: 45px;
  padding: 0 10px;
  border: none;
  outline: none;
  background-color: $colorLightGray;

  &:focus {
    transition: 0.35s ease;
    color: $colorGray;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}

.searchsubmit {
  position: absolute;
  top: 0;
  right: 8%;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;
  display: none;
  border: none;
  background: transparent;
}

.searchsubmit:hover {
  opacity: 0.6;
}

.button-submit {
  position: absolute;
  padding: 22px;
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background: url(../../assets/images/common/loupe-icon.svg) no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
  }
}
