@charset 'UTF-8';
@use "../inc" as *;

/*
  Footer
-----------------------------------------------------*/

.l-footer {
  clear: both;
  padding: 1.5em 0;
  background-color: $colorMain;
  color: $hint-text-color;

  @include mq(md) {
    padding: 3em 0;
  }

  &__text {
    margin-top: 1em;
    color: $colorSub;
    font-size: 0.75em;
    text-align: center;

    @include mq(md) {
      text-align: left;
    }
  }
}
