@charset 'UTF-8';
/*
  Header
-----------------------------------------------------*/
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
