@charset 'UTF-8';
@use "../inc" as *;
/*
  under
*/

.l-under {
  padding: 4rem 0 5rem;
  background-color: $colorWhite;
  @include mq(lg) {
    padding: 8.5rem 0 7.5rem;
  }

  &.-sub {
    padding: 0 0 5rem 0;
    background-color: $colorWhite;
    @include mq(lg) {
      padding: 0 0 7.5rem 0;
    }
  }

  &.-gray {
    background-color: $colorBase;
  }

  &.-beige {
    background-color: $colorBeige;
  }
}
