@charset 'UTF-8';
// @use "../inc/setting" as *;
// @use "../inc/color-book" as *;
// @use "../inc/mixin" as *;
@use "../inc" as *;
@use "sass:math";

/*
  Base
-----------------------------------------------------*/

*,
:before,
:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  height: 100%;
  color: $primary-text-color;
  text-rendering: optimizeLegibility;
  font: math.div(#{set-size($base)}, 1.75) $font-set-primary; //$baseでスマホのサイズ指定 line-height指定
  -webkit-font-feature-settings: "pkna";
  font-feature-settings: "pkna";
  background-color: $colorBase;
  padding-top: set-size(48px);

  @include mq(md) {
    padding-top: set-size(80px);
  }

  &.is-drawerActive {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button {
  cursor: pointer;
}
