@charset 'UTF-8';
@use "../../inc" as *;
/*
  Button
*/
.c-button {
  display: inline-block;
  border: 0;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  appearance: none;

  &.-primary {
    width: 100%;
    border: 2px solid $colorMain;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    font-weight: bold;

    &:hover {
      background-color: $colorMain;
      color: #fff;
    }
  }
}
