@charset 'UTF-8';
@use "../../inc" as *;
/*
  Card
*/

.c-card {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;

  &__body {
    padding: 1rem;
  }

  &__thumbnail {
    position: absolute;
    top: 0;

    img {
      width: 100%;
    }
  }
}
