@charset 'UTF-8';
@use "../../inc" as *;
//====================================
//  Grid
//====================================
$column: 12; // グリッド数の設定

$gutter-sp: 8px; // スマホ時の間隔
$gutter-tab: 16px; // タブレット時の間隔
$gutter-lap: 32px; // ラップトップ時の間隔
$gutter-desk: 40px; // デスクトップ時の間隔

.c-grid {
}
